<!-- DEFAULT TELAVIV -->

<div class="container">
    <div class="row">
      <div class="current" *ngIf="defaultCity">
        <h1>{{ defaultCity.LocalObservationDateTime | date: 'fullDate' }}</h1>
        <h1>{{ defaultCity.WeatherText }}</h1>
        <h1>{{ defaultCity.Temperature.Metric.Value }}C</h1>
      </div>
    </div>
  </div>
  
  
  <!-- 5 DAY DEFAULT -->
  <div class="container">
    <div class="row">
      <div class="card bg-light mb-3" style="max-width: 18rem;" *ngFor="let cityForecast of dailyForecasts">
        <div class="card-header">{{ cityForecast.Date | date: 'fullDate'}}</div>
        <div class="card-body">
          <h5 class="card-title">{{cityForecast.Day.IconPhrase}}</h5>
          <div class="card-icon"><img src="{{cityForecast.Day.Icon | accuweatherIcon }}"/></div>
        </div>
      </div>
  </div>
  </div>