<div class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input type="search"
          placeholder="Search for a city"
          [formControl]="control"
          [matAutocomplete]="auto"
          aria-label="Search"
          class="form-control mr-sm-2">
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="button" (click)="currentConditions()">Check Weather</button>
    <!-- <button class="btn btn-outline-secondary my-2 my-sm-0" type="button" (click)="addToFavorites()">AddToFavorites</button> -->
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let city of filteredCities | async" [value]="city">
        {{ city }}
      </mat-option>
    </mat-autocomplete>
  </form>
</div>
<app-forecast [currentCity]="currentCity"></app-forecast>


